<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
    <a href="index.html" class="logo">Publication</a>
</header>

<%# Navigation %>
<%= render 'nav' %>
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>International </br> Journals</h1>
            </header>

            <!-- Paper stuff -->
            <header>
                <h2>2004</h2>
            </header>
            <p><b>Jin-Woo Jung</b>, Zeungnam Bien, and Tomomasa Sato, “Person Recognition Method using Sequential Walking Footprints via overlapped Foot Shape and Center-Of-Pressure Trajectory,” IEICE Transactions on Fundamentals of Electronics,Commnications and Computer Sciences, Vol.E87-A, No.6, pp.1393-1400, June 2004 <b>(SCIE)</b></p>
            <p><b>Jin-Woo Jung</b>, Tomomasa Sato, and Zeungnam Bien, “Dynamic Footprint-based Person Recognition Method using Hidden Markov Model and Neural Network,” International Journal of Intelligent Systems, Vol. 19, No. 11, pp.1127-1141, November 2004 <b>(SCI)</b></p>
            <p>Z. Zenn Bien, Kwang-Hyun Park, Dae-Jin Kim, and <b>Jin-Woo Jung</b>, “Welfare-oriented service robotic systems: Intelligent sweet home & KARES II,” Advances in Rehabilitation Robotics, Lecture Notes in Control and Information Sciences, Vol. 306, No.4, pp.57-94, 2004 <b>(SCIE)</b></p>
            <p>Hyoyoung Jang, Dae-Jin Kim, Jung-Bae Kim, <b>Jin-Woo Jung</b>, Kwang-Hyun Park and Z. Zenn Bien, “Decomposition approach for hand-pose recognition,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.1, pp.21-25, 2004</p>
            <p>Hyoyoung Jang, Jun-Hyeong Do, <b>Jinwoo Jung</b>, Kwang-Hyun Park, and Z. Zenn Bien, “View-invariant Hand-posture Recognition Method for Soft-Remocon-system,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.2, pp.13-18, 2004</p>
            <p>Zeungnam Bien, <b>Jin-Woo Jung</b> and Dae-Jin Kim, “Special Lecture Series on Service Robotic Systems for Aging, Disability and Independence- Part I: Service Robots for the needed,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.3, pp.29-35, 2004</p>
            <p>Zeungnam Bien, Dae-Jin Kim and <b>Jin-Woo Jung</b>, “Special Lecture Series on Service Robotic Systems for Aging, Disability and Independence- Part II: Rehabilitation Robots with special attention to Wheelchair-based Robots,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.3, pp.36-44, 2004</p>
            <p>Zeungnam Bien, Hyoyoung Jang, Dae-Jin Kim, and <b>Jin-Woo Jung</b>, “Human-friendly Human-Robot Interaction Techniques and Hand Gesture,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.4, pp.24-32, 2004</p>
            <p>Zeungnam Bien, Jun-Hyeong Do, <b>Jin-Woo Jung</b>, Dae-Jin Kim, and Dimitar H. Stefanov, “Smart High-tech House as a Large-scale Care Robot for the Elderly and Disabled People,” International Journal of Human-friendly Welfare Robotic Systems, Vol.5, No.4, pp.33-41, 2004</p>

            <header>
                <h2>2005</h2>
            </header>
            <p>Z. Zenn Bien, Kwang-Hyun Park, <b>Jin-Woo Jung</b> and Jun-Hyeong Do, “Intention Reading is Essential in Human-friendly Interfaces for the Elderly and the Handicapped,” IEEE Transaction on Industrial Electronics, Vol.52, No.6, pp.1500-1505, December 2005 <b>(SCI)</b></p>
            <p>Z. Zenn Bien, <b>Jin-Woo Jung</b>, Kwang-Hyun Park and Farrah Wong, “Human-friendly Man-Machine Interaction in Smart Home,” International Journal of Human-friendly Welfare Robotic Systems, Vol.6, No.3, pp.31-38, 2005</p>
            <p>Jun-Hyeong Do, <b>Jin-Woo Jung</b>, Sung Hoon Jung, Hyoyoung Jang, and Zeungnam Bien, "Advanced Soft Remote Control System Using Hand Gesture," MICAI 2006, Lecture Notes in Artificial Intelligence, Vol.4293, pp.745-755, 2006 <b>(SCIE)</b></p>

            <header>
                <h2>2006</h2>
            </header>
            <p>Jae-Hoon Song, <b>Jin-Woo Jung</b>, and Zeungnam Bien, “Robust EMG Pattern Recognition to Muscular Fatigue Effect for Human-Machine Interaction,” MICAI 2006, Lecture Notes in Artificial Intelligence, Vol. 4293, pp. 1190–1199, 2006 <b>(SCIE)</b></p>
            <p>Hyoyoung Jang, <b>Jin-Woo Jung</b>, and Zeungnam Bien, “A Study on Vision-Based Robust Hand-Posture Recognition by Learning Similarity Between Hand-Posture and Structure,” ICNC 2006, Part II, Lecture Notes in Computer Science, Vol. 4222, pp. 550 – 559, 2006 <b>(SCIE)</b></p>
            <p>Farrah Wong, Kwang-Hyun Park, Dae-Jin Kim, <b>Jin-Woo Jung</b> and Zeungnam Bien, “Intention Reading towards Engineering Applications for the Elderly and People with Disabilities,” International Journal of Assistive Robotics and Mechatronics, VOL. 7, NO. 3, pp. 3-15, September 2006</p>

            <header>
                <h2>2007</h2>
            </header>
            <p>Jun-Hyeong Do, Sung Hoon Jung, Seung-Eun Yang, Hyoyoung Jang, <b>Jin-Woo Jung</b>, and Zeungnam Bien, “Gesture-based Interface using Multiple Cameras for Home Appliance Control,” International Journal of Assistive Robotics and Mechatronics, VOL. 8, NO. 2, pp. 37-43, June 2007</p>
            <p>K.-H. Park, Z. Bien, J.-J. Lee, B. K. Kim, J.-T. Lim, J.-O. Kim, H. Lee, D. H. Stefanov, D.-J. Kim, J.-W. Jung, J.-H. Do, K.-H. Seo, C. H. Kim, W.-G. Song, and W.-J. Lee, "Robotic smart house to assist people with movement disabilities," Autonomous Robot, Vol. 22, pp. 183-198, 2007 <b>(SCI)</b></p>

            <header>
                <h2>2008</h2>
            </header>
            <p>Han-Mu Park and <b>Jin-Woo Jung</b>, “Preliminary study of articulation training supporting system for the hearing impaired using automated lip shape recognition,” International Journal of Assistive Robotics and Mechatronics, Vol. 9, No. 3, pp. 70~78, Sep. 2008</p>
            <p>Y. S. Hong, J. W. Jung, H. W. Koo and J. H. Jung, “Evaluation of Robot Selection Algorithms for Organizing a Robot Cluster in Multi-robot Systems,” International Journal of Assistive Robotics and Mechatronics, Vol. 9, No.3, pp.24~31, Sep. 2008</p>
            <p>Ji-Woo Park, Yun-Sik Son, <b>Jin-Woo Jung</b>, and Se-Man Oh, "Software Interface for Hardware-independent Robot Platforms," International Journal of Assistive Robotics and Mechatronics, Vol. 9, No. 4, pp. 110-119, 2008</p>
            <p>Heyoung Lee, Yong-Tae Kim, <b>Jin-Woo Jung</b>, Kwang-Hyun Park, Dae-Jin Kim, Boogang Bang and Z. Zenn Bien, "A 24-hour health monitoring system in a smart house," Gerontechnology Journal, Vol.7, Issue 1, pp.22-35, 2008</p>

            <header>
                <h2>2009</h2>
            </header>
            <p>Yong-Tae Kim, Hyungpil Moon, Jae Hoon Park, Hyouk Ryeol Choi, Heung-Sik Noh and <b>Jin-Woo Jung</b>, "Vision-based Modular Docking System for Cooperative Mobile Robots," International Journal of Assistive Robotics and Mechatronics, Vol.10, No.1, pp.15-25, 2009</p>
            <p>Young Sik Hong, <b>Jin-Woo Jung</b>, Hyun Woo Koo, and Jun Ho Jung, "The Management of Robot-Cluster for the Functional Cooperation in Multi Robot Systems," International Journal of Assistive Robotics and Mechatronics, Vol.10, No.2, pp.3-13, 2009</p>
            <p>Yun-Sik Son, Ji-Woo Park, Seok-Hoon Ko, <b>Jin-Woo Jung</b>, and Se-Man Oh, "A Study on the Evolution of Software Aspects for Evolutionary Robots," International Journal of Assistive Robotics and Mechatronics, Vol. 10, No. 2, pp. 27-35, 2009</p>
            <p>J.-H. Song, J.-W. Jung, S.-W. Lee and Z. Bien, "Robust EMG pattern recognition to muscular fatigue effect for powered wheelchair control," Jr. of Intelligent & Fuzzy Systems, Vol. 20, No. 1, pp.3-12, 2009 <b>(SCIE)</b></p>
            <p>Kyung-Hoon Hwang and <b>Jin-Woo Jung</b>, "Segmentation of the Liver in CT Images using pseudocolorization and Labeling Methods," Proc. of Fuzz-IEEE 2009, pp.2170-2173, 2009 <b>(SCOPUS)</b></p>

            <header>
                <h2>2010</h2>
            </header>
            <p>Muhammad Hilmi Arbain, <b>Jin-Woo Jung</b>, Byung-Chul So, Mun-Sang Kwak, “Vowel Formant Characterization of Jaw Movements and Tongue Displacement for possible use in the Articulation Training Support System for the Hearing Impaired," Lecture Notes in Computer Science, Vol.6159, pp.211–217, 2010</p>
            <p><b>Jin-Woo Jung</b>, Muhammad Hilmi Arbain, and Byung-Chul So, “Interface Design of Articulation Training Support System for the Hearing Impaired,” International Journal of Assistive Robotics and Mechatronics, Vol. 11, No. 1, pp. 45-54, 2010</p>

            <header>
                <h2>2012</h2>
            </header>
            <p>Young-One Cho, Byung-Chul So, and <b>Jin-Woo Jung</b>, “User Recognition Using Sequential Footprints Under Shoes Based on Mat-Type Floor Pressure Sensor,” Advanced Science Letters, Vol. 9, pp. 591-596, 2012 <b>(SCIE)</b></p>
            <p><b>Jin-Woo Jung</b>, Young-One Cho, and Byung-Chul So, “Footprint Recognition Using Footprint Energy Image,” Sensor Letters, Vol. 10, pp. 1294-1301, 2012 <b>(SCIE)</b></p>
            <p>Byung-Chul So and <b>Jin-Woo Jung</b>, “Mobile Robot Path Planning with Opposite Angle-Based Exact Cell Decomposition,” Advanced Science Letters, Vol. 15, pp. 144-148, 2012 <b>(SCIE)</b></p>
            <p>YunSik Son, YangSun Lee and <b>Jin-Woo Jung</b>, “Software Modules Management Techniques for Multi-Cooperate Robots based on R-Object Model in Dynamic Environments,” International Journal of Multimedia and Ubiquitous Engineering, Vol.7, NO.4, October, 2012 <b>(SCOPUS)</b></p>

            <header>
                <h2>2013</h2>
            </header>
            <p>Heon-Hui Kim, Jung-Su Park, <b>Jin-Woo Jung</b>* and, Kwang-Hyun Park, “Immersive Teleconference System based on Human-Robot-Avatar Interaction using Head-Tracking Devices,” International Journal of Control, Automation, and Systems, Vol.11, No.5, pp.1028-1037, 2013 <b>(SCIE, Corresponding Author)</b></p>
            <p>Heesung Lee, Byungyun Lee, <b>Jin-Woo Jung</b>, Sungjun Hong, and Euntai Kim, “Human Biometric Identification through Integration of Footprint and Gait,” International Journal of Control, Automation, and Systems, Vol.11, No.4, pp.826-833, 2013 <b>(SCIE)</b></p>

            <header>
                <h2>2015</h2>
            </header>
            <p><b>Jinwoo Jung</b> and Yoonhee Jang, “Max-min hand cropping method for robust hand region extraction in the image-based hand gesture recognition,” Soft Computing, Vol.19, Issue 4, pp.815-818, April 2015 <b>(SCIE)</b></p>
            <p>??? “An Adaptive Task-Based Model for Autonomous Multi-Robot Using HARMS and NuSMV,” Procedia Computer Science, Vol. 56, pp.127-132, 2015</p>
            <p>??? “Self-Management Technique for Adaptive Robot Software based on Task Environment Similarity,” Procedia Computer Science, Vol. 56, pp.538-543, 2015</p>
            <p>Byung-Cheol Min, Eric T. Matson, and <b>Jin-Woo Jung</b>, “Active Antenna Tracking System with Directional Antennas for Enhancing Wireless Communication Capabilities of a Networked Robotics System,” Journal of Field Robotics, 2015 <b>(SCIE)</b></p>

            <header>
                <h2>2016</h2>
            </header>
            <p>Byung-Cheol Min, Yongho Kim, Sangjun Lee, <b>Jin-Woo Jung</b>, and Eric T. Matson, “Finding the Optimal Location and Allocation of Relay Robots for Building a Rapid End-to-end Wireless Communication,” Ad Hoc Networks, 2016 <b>(SCIE)</b></p>
            <p>???, “Iris Image Enhancement for the Recognition of Non-ideal Iris Images,” KSII Transactions on Internet and Information, Vo.10, No.4, pp.1904-1926, 2016 <b>(SCIE)</b></p>
            <p>???, “A study on Hamiltonian cycle-based path planning for multiple robot-single station docking problem,” Advanced Science Letters, Vol.22, No.11, pp.3352-3355, 2016 <b>(SCOPUS)</b></p>
            <p>???, “An Adaptive Goal-Based Model for Autonomous Multi-Robot Using HARMS and NuSMV,” International Journal of Fuzzy Logic and Systems, Vol.16, No.2, pp.95-103, 2016</p>
            <hr />
        </section>

    <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Domestic </br> Journals</h1>
            </header>

            <!-- Paper stuff -->
            <header>
                <h2>2003</h2>
            </header>
            <p>박해리, <b>정진우</b>, 변증남, “축구 로봇의 의도 추출에 관한 연구,” 대한 전자공학회 논문지 제 40권 CI편 제 4호, pp.193-205, 2003년 7월</p>

            <header>
                <h2>2005</h2>
            </header>
            <p>변증남, <b>정진우</b>, “소프트 컴퓨팅과 복지 서비스 로봇의 만남,” 로봇공학회지 제 2권 제 1호, 2005년</p>
            <p>이형욱, 김용휘, 박광현, 김용수, <b>정진우</b>, 조준면, 김민경, 변증남, “사용자 행동 패턴 선호도 학습을 위한 퍼지 귀납 학습 시스템,” 한국 퍼지 및 지능 시스템학회 논문지, 제 15권 7호, 2005년 12월</p>

            <header>
                <h2>2006</h2>
            </header>
            <p>김헌희, <b>정진우</b>, 장효영, 김진오, 변증남, “작업지향 설계를 위한 의복형 보행보조로봇의 분류방법,” 로봇공학회 논문지, 제1권 제1호, 2006년 9월</p>

            <header>
                <h2>2007</h2>
            </header>
            <p>오영준, 장효영, <b>정진우</b>, 박광현, 김대진, 변증남, “3D 아바타의 자연스러운 수화 동작 표현 방법,” 정보처리학회논문지 B, 제14-B권 제2호, pp. 107-118, 2007년 4월</p>

            <header>
                <h2>2008</h2>
            </header>
            <p>손윤식, <b>정진우</b>, 박한무, 계승철, 윤종혁, 정낙천, 오세만, “얼굴 인식 및 화자 정보를 이용한 오프라인 회의 기록 지원 시스템,” 한국 지능시스템 학회 논문지, Vol. 18, No. 1, pp. 66-71, 2008년 2월</p>

            <header>
                <h2>2009</h2>
            </header>
            <p>나두영, 노수희, 문형필, <b>정진우</b>, 김용태, "모듈형 로봇의 자가 결합을 위한 퍼지 주행 제어 및 장애물 회피 제어," 한국지능시스템학회 논문지, Vol. 19, No. 4, pp.470-477, 2009</p>

            <header>
                <h2>2010</h2>
            </header>
            <p>나두영, 민현홍, 이창석, 노수희, 문형필, <b>정진우</b>, 김용태, “3자유도 결합 팔을 가진 모듈형 로봇의 비평탄 지형 주행 알고리즘,” 한국지능시스템학회 논문지, Vol. 20, No. 3, pp. 311-317, 2010</p>

            <header>
                <h2>2011</h2>
            </header>
            <p>박정수, 소병철, <b>정진우</b>, “모바일 로봇을 위한 다단계 형태 공간 생성 방법에 대한 성능 검증,” 한국지능시스템학회 논문지, Vol. 21, No. 1, 2011</p>
            <p>소병철, <b>정진우</b>, “사용자 검색 질의 단어의 순서 및 단어간의 인접 관계에 기반한 검색 기법의 구현,” 한국지능시스템학회 논문지, Vol. 21, No. 6, pp.724-729, 2011</p>

            <header>
                <h2>2014</h2>
            </header>
            <p>박정수, <b>정진우</b>, “레이저 거리 측정기 기반 투명 장애물 인식 방법,” 한국지능시스템학회 논문지, Vol.24, No.2, pp.111~116, 2014</p>

            <header>
                <h2>2016</h2>
            </header>
            <p>???, “레고 마인드스톰 NXT를 활용한 기초설계 교과목에서의 효과적인 공학설계과제 선정방안 연구,” 공학교육연구, Vol.19, No.2, pp.60-69, 2016</p>
            <p>???, “인턴십-종합설계 연계 교육 모델의 환류체계 구축,” 공학교육연구, Vol.19, No.1, pp.61-66, 2016</p>
            <hr />
        </section>

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Book </br> Contribution</h1>
                <h3>: 저서 엮음집</h3>
            </header>

            <!-- Paper stuff -->
            <header>
                <h2>2003</h2>
            </header>
            <p>Z.Zenn Bien, Kwang-Hyun Park, Dae-Jin Kim, <b>Jin-Woo Jung</b>, Jeong-Su Han, Jun-Hyung Do and Hyoyoung Jang, “Soft Computing Techniques are Essential in Human Centered Human-Robot Interaction”, Methods and Applications in Automation edited by Boris Lohmann and Axel Gräser, Shaker Verlag, 2003</p>

            <header>
                <h2>2005</h2>
            </header>
            <p>Hyong-Euk Lee, Young-Min Kim, <b>Jin-Woo Jung</b> and Z. Zenn Bien, “Living Behavior Pattern Learning System for Human-friendly Assistive Home Environment,” From Smart Homes To Smart Care (Assistive Technology Research Series 15) edited by Sylvain Giroux, IOS press, 2005</p>
            <p>Z. Zenn Bien, <b>Jin-Woo Jung</b>, Hyong-Euk Lee, Dae-Jin Kim and Kwang-Hyun Park, “Human-friendly Assistive Robotic System for Independence of the Handicapped/the Elderly,” From Smart Homes To Smart Care (Assistive Technology Research Series 15) edited by Sylvain Giroux, IOS press, 2005</p>

            <header>
                <h2>2010</h2>
            </header>
            <p>ICOST 2010 프로시딩, Aging Friendly Technology for Health and Independence (LNCS 6159) edited by David Hutchison et al., Springer, 2010</p>

            <header>
                <h2>2012</h2>
            </header>
            <p>정완균, 도낙주, 이수용, <b>정진우</b>, 문형필, 실험로보틱스 II: 이동 로봇, 한국로봇학회/제어로봇시스템학회/한국로봇산업진흥원, 2012</p>

            <header>
                <h2>2014</h2>
            </header>
            <p>Sungshin Kim, <b>Jin-Woo Jung</b>, Naoyuki Kubota, Soft Computing in Intelligent Control, Springer International Publishing, March 2014 (ISBN: 3319055690, 편저서)</p>
            <hr />
        </section>

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Book </br> Contribution</h1>
                <h3>: 번역서</h3>
            </header>

            <!-- Paper stuff -->
            <header>
                <h2>1999</h2>
            </header>
            <p>케빈 워윅 지음/한국과학기술원 시스템제어연구실 옮김/변증남 감수, 로봇의 행진: 21세기 지구주인은 로봇, 한승출판사, 1999년</p>

            <header>
                <h2>2008</h2>
            </header>
            <p>Kenneth H. Rosen 지음/공은배,권영미,김명원,김종찬,김태완,정은화,<b>정진우</b> 공역, 이산수학 (6판), 맥그로우힐 코리아, 2008년 3월</p>

            <header>
                <h2>2012</h2>
            </header>
            <p>E. Balagurusamy 지음/최종필,김경진,안두성,안희준,이희영,<b>정진우</b> 공역, 기초가 튼튼해지는 C프로그래밍, 학산미디어, 2012년 </p>
            <p>Kenneth H. Rosen 지음/공은배,권영미,김명원,김종찬,김태완,정은화,<b>정진우</b> 공역, 이산수학 (7판), 맥그로우힐 코리아, 2012년 8월</p>
            <hr />
        </section>
    </div>

    <%= render 'footer' %>

</div>
